aiogram==2.14.3
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
debugpy==1.4.1
decorator==5.0.9
entrypoints==0.3
idna==2.10
ipykernel==6.2.0
ipython==7.27.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==7.0.1
jupyter-core==4.7.1
matplotlib-inline==0.1.2
multidict==5.1.0
nest-asyncio==1.5.1
parso==0.8.2
pickleshare==0.7.5
prompt-toolkit==3.0.20
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==2.0.0
Pygments==2.10.0
pyOpenSSL==20.0.1
pyTelegramBotAPI==3.8.3
python-dateutil==2.8.2
pytz==2021.1
pywin32==301
pyzmq==22.2.1
requests==2.25.1
service-identity==21.1.0
six==1.15.0
telebot==0.0.4
TelegramBotAPI==0.3.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.3
vk-api==11.9.1
wcwidth==0.2.5
yarl==1.6.3
